@import url(http://fonts.googleapis.com/css?family=Roboto);

html,
body {
    height: 100%;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: white;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/****** LOGIN MODAL ******/
.modal-container {
    padding: 30px;
    max-width: 350px;
    width: 100% !important;
    background-color: #F7F7F7;
    margin: 0 auto;
    border-radius: 2px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    font-family: roboto;
}

.modal-container h1 {
    text-align: center;
    font-size: 1.8em;
    font-family: roboto;
}

.modal-container input[type=submit] {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    position: relative;
}

.wrap_field {
    margin-bottom: 10px;
}

textarea {
    width: 100%;
    height: 100px;
    resize: none;
    padding: 10px;
}

.has_error input[type=text], .has_error input[type=password] {
    border: 1px solid darkred;
}

.error_message {
    color: darkred;
}

input[type=text], input[type=password] {
    height: 44px;
    font-size: 16px;
    width: 100%;
    -webkit-appearance: none;
    background: #fff;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    padding: 0 8px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.modal-container input[type=text]:hover, input[type=password]:hover {
    border: 1px solid #b9b9b9;
    border-top: 1px solid #a0a0a0;
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
    text-align: center;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    height: 36px;
    padding: 0 8px;
}

.loginmodal-submit {
    border: 0px;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,0.1);
    background-color: #4d90fe;
    padding: 17px 0px;
    font-family: roboto;
    font-size: 14px;
}

.loginmodal-submit:hover {
    border: 0px;
    text-shadow: 0 1px rgba(0,0,0,0.3);
    background-color: #357ae8;
}

.modal-container a {
    text-decoration: none;
    color: #666;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    opacity: 0.6;
    transition: opacity ease 0.5s;
}

.login-help{
    font-size: 12px;
}

.header_full_name {
    color: white;
    margin-right: 15px;
}

.signin_vk {
    margin-bottom: 10px;
}

h6.description{
    font-weight: bold;
    letter-spacing: 2px;
    color: #999;
    border-bottom: 1px solid rgba(0, 0, 0,0.1);
    padding-bottom: 5px;
}
.profile{
    margin-top: 25px;
}
.profile h1{
    font-weight: normal;
    font-size: 20px;
    margin:10px 0 0 0;
}
.profile h2{
    font-size: 14px;
    font-weight: lighter;
    margin-top: 5px;
}
.profile .img-box{
    opacity: 1;
    display: block;
    position: relative;
}
.profile .img-box:after{
    content:"";
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}
.img-box .text-center{
    position: absolute;
    z-index: 2;
    top: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
}

.img-box .text-center:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.img-box .text-center span {
    display: inline-block;
    vertical-align: middle;
}

.profile .img-box:after, .img-box .text-center{
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
}
.img-box a{
    color:#fff;
}
.img-box:hover:after{
    opacity: 1;
}
.img-box:hover .text-center{
    opacity: 1;
}
.img-box .text-center a{
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
a{
    color:#88C425;
}
a:hover{
    text-decoration:none;
    color:#519548;
}

.change-form-avatar {
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.image_load_error {
    position: absolute;
    color: #E65144;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid #E65144;
    overflow: hidden;
    display: none;
    background-color: #ffffff;
    text-align: center;
}

.image_load_error:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.image_load_error span {
    display: inline-block;
    vertical-align: middle;
}

.image_load_error.active {
    display: block;
}

.skill_grade {
    margin: 0 0 0 5px;
}

.avatar_user {
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 200px;
    background-size: cover;
}

.change-form-avatar img{
    width: 25%;
}

.delete_resume {
    float: right;
    margin: 0 0 0 10px;
}

.link_resume {
    line-height: 2.4em;
}

.profile .list-group-item {
    overflow: hidden;
}

.avatar_preview {
    height: 300px;
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}